a {
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}
.top-wrapper {
  padding: 180px 0 180px 0;
  background-image: url(../images/top-header.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 14px;
}
section {
  margin-top: 60px;
  margin-bottom: 60px;
}
header {
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position: fixed;
  z-index: 9999;
}
header:after{
  display: block;
  content: "";
  clear: both;
}
.logo {
  width: 124px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}
.logo img{
  width: 124px;
}
.header-left {
  float: left;
}

.header-right {
  float: right;
  transition: all 0.5s;
}
.header-right ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-right ul li{
  font-size: 24px;
  float: left;
  padding: 0;
  margin: 16px 8px;
  width: 32px;
  display: block;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}
.header-right li:hover {
  background-color: rgba(255,255,255,0.2);
  -webkit-animation: scale .3s ease-in-out;
  animation: scale .3s ease-in-out;
}

.header-right a {
  line-height: 32px;
  color: white;
  display: block;
}
@-webkit-keyframes scale {
  50% { -webkit-transform: scale(1.1); }
}
@keyframes scale {
  50% { transform: scale(1.1); }
}

h2{
  margin: 60px 0;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
}

#philosophy article{
  margin: 0 auto;
}
#philosophy article .content{
  border: 1px solid #DDD;
  padding: 30px 30px;
  text-align: center;
}
#members article{
  text-align: center;
}
#members .card{
  border: none;
}
#members .card-img-top{
  margin-top: 30px;
  margin-bottom: 30px;
}

.contents p{
  padding: 30px 30px;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
}
#contact form{
  margin: 0 auto;
}
.btn{
  margin-top: 15px;
  margin-bottom: 15px;
}
footer {
  height: 45px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  color: white;
  text-align: center;
}