body {
  margin: 0;
}

a {
  text-decoration: none;
}

.top-wrapper {
  padding: 180px 0 180px 0;
  background-image: url(../CxpTbzaUQAAwoYp.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 14px;
}


header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position: fixed;
}

.logo {
  width: 124px;
  margin-top: 10px;
  color: white;
}

.logo h1{
  display: block;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255,255,255,0.3);
  transition: all 0.5s;
}
.header-right ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-right ul li{
  float: left;
  padding: 0;
  margin: 0;
}
.header-right li:hover {
  background-color: rgba(255,255,255,0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

h2{
  text-align: center;
  font-weight: normal;
  font-size: 48px;
}

.content{
  width: 80%;
  border: 1px solid #DDD;
  margin: 60px auto;
  margin-bottom: 100px;
}
.content p{
  padding: 30px 30px;
  text-align: center;
  font-weight: normal;
}

.members{
  margin: 0 auto;
  font-size: 0;
}

.img-member{
  text-align: center;
}
.contents{
  width: 25%;
  /*border: 1px solid #DDD;*/
  margin: 0 auto;
  margin-right: 0;
  display: inline-block;
}

.contents p{
  padding: 30px 30px;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
}

h3{
  font-weight: normal;
}
.contact{
  width: 80%;
  margin: 0 auto;
}

footer {
  height: 45px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  color: white;
  text-align: center;
}


/*
.members{
  width: 90%;
  margin: 0 auto;
}
.member{
  float: left;
  width: 22%;
  text-align: center;
  border: 1px solid #DDD;
  margin: 0 1%;
}

.text-content{
  display: inline-block;
  font-size: 14px;
  padding: 30px 30px;
  text-align: center;
  font-weight: normal;
}*/