body {
  margin: 0;
}

a {
  text-decoration: none;
}

.top-wrapper {
  padding: 180px 0 180px 0;
  background-image: url(../CxpTbzaUQAAwoYp.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 14px;
}


header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position: fixed;
}

.logo {
  width: 124px;
  margin-top: 10px;
  color: white;
}

.logo h1{
  display: block;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255,255,255,0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255,255,255,0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

h2{
  text-align: center;
  font-weight: normal;
  font-size: 35px;
}

.content{
  width: 70%;
  border: 1px solid #DDD;
  margin: 0 auto;
}
.content p{
  padding: 30px 30px;
  text-align: center;
  font-weight: normal;
}

.team{
  float: left;
  width: 25%;
}
.member{
}

.member p{
  padding: 30px 30px;
  font-weight: normal;
  text-align: center;
}

